/* Font file missing, using system fonts */
/*
@font-face {
  font-family: "DinFont";
  src: url("/fonts/dinfont.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
*/

@layer base {
  body {
    /* Removed "DinFont" since it's missing */
    font-family:
      ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial;
  }
}
