@font-face {
  font-family: "DinFont";
  src: url("/fonts/dinfont.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@layer base {
  body {
    font-family: "DinFont", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  }
}
