@tailwind base;

/* theme tokens + base-stilar ska ligga efter @tailwind base */
@import "./theme.css";

@tailwind components;

/* dina egna komponentklasser */
@import "./index.css";

@tailwind utilities;
